@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;900&display=swap');

:root {
  font-family: 'Manrope', sans-serif !important;
  scroll-behavior: smooth;
}

.fucking-animation {
  border: inset 3px rgba(240, 240, 240, 0.3);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;

}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}